* {
    box-sizing: border-box;
}

.spacer {
    margin: 0;
    width: 0;
    height: 0;
}

#level {
    display: flex;
    flex-flow: row wrap;
}

#map_column {
    width: 16rem;
    height: auto;
    margin-bottom: 1em;
}

#legend {
    margin: 4px 0;
    max-height: 0;
    transition: max-height 0.25s, opacity 0.25s;
    overflow-y: hidden;
}

.legend_item {
    margin: 4px 0;
}

tt {
    border: 1px solid black;
    background: #ddd;
    padding: 2px;
}

#map {
    letter-spacing: 0.25em;
    width: 100%;
    height: 12rem;
}

#level>.spacer {
    width: 2em;
}

#settings_column {
    width: 16rem;
    padding: 3px;
    margin-bottom: 1em;
    display: flex;
    flex-flow: column nowrap;
}

#move_settings {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

#move_settings>* {
    align-self: center;
    margin: 2px 0;
}

.strength {
    height: 1.5em;
    width: 3em;
}

#strength_hint {
    margin-bottom: 0.5em;
}

#settings_column>.spacer {
    height: 0.5em;
    flex-grow: 1;
}



#controls {
    width: max-content;
    margin: 1em 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr) auto;
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2px;
    align-items: center;
}

#pull_label {
    grid-area: 1/4;
}

#purp_label {
    grid-area: 2/4;
}



#canvas_wrapper, #gif_wrapper {
    max-width: calc(100vw - 1em);
    max-height: calc(100vh - 5em);
    overflow: auto;
}



.credits {
    margin-top: 5px;
    font-size: smaller;
}